.Layout-container {
  /* max-width: 1335px; */
  /* max-width: 1760px; */
  max-width: 1660px;
  margin: 0 auto;
}

.Layout-header {
  text-align: center;
}

.Layout-content {

  /* max-width: 1335px; */
  max-width: 100%;
  margin: 0 auto;
}

.grid-root {
  display: block;
}

.grid-container {
  margin-bottom: 15px;
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
  background: #f2f2f2;
  border-radius: 10px;
}

.section {
/* max-width: 1335px;  */

  /* display: flex;
  flex-flow: wrap;
  max-width: 100%;
  margin: 0 auto 15px;
  justify-content: center;  */

  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  justify-content: center;
}