body {
  margin: 0;
  font-family: Helvetica, sans-serif,Tahoma,Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* .post{
margin: 30px;
box-shadow: 0 0 10px rgba(red, green, blue, alpha);
padding:15px;
} */
